.filtersContainer {
    display: flex;
    margin-right: 15px;
}
.filtersList {
    display: flex;
    list-style-type: none;
}

.filterLink {
    color: rgb(32, 31, 31);
    padding: 15px;

    &.active {
        color: rgb(32, 31, 31);
        text-decoration: underline;
    }

    &:hover {
        text-decoration: underline;
    }
}

