.tagsContainer {
  margin-bottom: 30px;
}
.tagsList {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tagItem {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 3px;
  margin: 0 10px 10px 0;

  .tagLink {
    text-transform: uppercase;
    box-sizing: content-box;
    font-size: .75rem;
  }
}

