.tagsContainer {
  margin-bottom: 30px;
}
.tagsList {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tagLink {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 3px;
  margin: 0 10px 10px 0;
  text-transform: uppercase;
  box-sizing: content-box;
  font-size: .75rem;
  cursor: pointer;
}

.tagsPopup {
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, .8);
  top: 100%;
  padding: 10px;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.tagsPopup__list {
  overflow: auto;
  height: 100%;
}

